.products__search__sort {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.products__search__sort .filter__icon {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
}



.products__search__sort .view__mode {
    display: flex;
    gap: 15px;
    font-size: 1.4rem;
}

.products__search__sort .view__mode>div {
    cursor: pointer;
}



.products__search__sort input {
    width: 350px;
}

.products__search__sort>div {
    display: flex;
    gap: 15px;
    align-items: center;

}




.icon.active {
    opacity: .7;
}


@media only screen and (min-width: 1100px) {
    .products__search__sort .filter__icon {
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .products__search__sort input {
        width: 250px;
    }
}

@media only screen and (max-width: 700px) {
    .products__search__sort {
        flex-direction: column;
        align-items: flex-start;
    }

    .products__search__sort>div {
        width: 100%;
    
    }

    .products__search__sort input {
        width: 100%;
    }

    .products__search__sort .filter__icon {
        margin-right: auto;
    }
}

@media only screen and (max-width: 576px) {
    .products__search__sort .view__mode {
        display: none;
    }
}