
nav {
    background: white;
    box-shadow: 0 0 15px rgb(236, 236, 236);
}

nav .brand a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.cart__icon .icon {
    font-size: 1.6rem;
    cursor: pointer;
    padding: 5px;
}


@media only screen and (max-width: 576px) {
    .navbar__container {
        padding: 20px;
    }
}